@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  background-color: #1F2937;
}

/*Header and Footer*/

.header {
  display: flex;
  justify-content: center;
  padding: 36px;
}

.page-title {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  font-size: 16px;
  padding: 24px 36px;
}

.credit-details {
  display: flex;
  justify-content:space-between;
}

.credit-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.credit-links a {
  color: #f9faf8;
}

/*Body*/

.center-content {
  border: blue solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game {
  margin-bottom: 24px;
}

.game-info {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
}

.info-card {
  padding: 8px;
  text-align: center;
  border: black solid;
  background-color: black;
  border-radius: 10px;
  color: #f9faf8;
  font-weight: bold;
}

.display {
  margin-bottom: 24px;
  box-sizing: border-box;
  height: 52px;
  width: 250px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid;
  background-color: black;
  border-radius: 10px;
}

.display-content {
  font-size: 18px;
  font-weight: bold;
  color: #f9faf8;
}

.play-round {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.selection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 250px;
  min-height: 193px;
  border: black solid;
  background-color: black;
  border-radius: 10px;
}

.card-title {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #f9faf8;
  font-weight: bold;
}

img {
  height: auto;
  width: 250px;
  max-height: 166px;
}